body {
  background-color: rgb(2, 2, 34);
}

.container-fluid {
  width: 85%;
  border: 2px solid black;
  height: 53em;
}

#link_1 {
  background-image: url(./img/workout-stuff.jpg);
  width: 45%;
  height: 18em;
  margin-left: 2em;
}

#link_2 {
  background-image: url(./img/body-solid-strength-tech-home-gym-min-e1566947801774.jpg);
  width: 45%;
  height: 18em;
  margin-right: 2em;
}

#info_p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#link_container {
  margin-top: 10px;
  margin-bottom: 4em;
  justify-content: space-between;
}

.custom_border {
  border: 3px solid gold;
}

a {
  display: block;
}

/* -------------------------------------- equipments section --------------------------------------- */
.flex_div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3em;
}
.items_div {
  background-size: cover;
  width: 7em;
  height: 7em;
  margin-right: 2em;
  border: 2px solid gold;
  background-repeat: no-repeat;
}
/* ----------------------------- modules section -------------------------------------------- */

.module_blocks {
  background-image: url(./img/workout-stuff.jpg);
  background-size: cover;
  width: 15em;
  height: 15em;
}

/* ----------------------------------------------------------------------------------------- */

nav {
  margin-bottom: 1em;
  border: 2px solid gold;
}

footer {
  color: white;
}
